/* Sayfanın tüm alanına yayılacak şekilde sıfırlama */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

/* Hero - başlık ve alt başlık stili */
.hero {
    padding: 20px;
}

.title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ecf0f1;
}

.subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 25px;
    color: #bdc3c7;
}

// Call to action
.ctaWrapper {
    display: inline-block;
}

.cta {
    position: relative;
    display: inline-block;
    padding: 14px 35px;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 2px solid #9b59b6;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #9b59b6;
    transition: left 0.3s ease;
}

.cta:hover::before {
    left: 0;
}

.cta:hover {
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.cta span {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: 500;
}