/* styles/globals.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #EF8354, #4F5D75, #2D3142, #4F5D75, #EF8354);
    color: white;
}

/* Call to action */
.ctaWrapper {
    display: inline-block;
    margin-top: 1rem;
}

.cta {
    position: relative;
    display: inline-block;
    padding: 14px 35px;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 2px solid #EF8354;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: box-shadow 1s ease;
}

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #EF8354;
    transition: left 0.6s ease;
}

.cta:hover::before {
    left: 0;
}

.cta:hover {
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.cta span {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: 500;
}